.panel {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ebfaf9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.panel h3 {
  font-size: 1.6em;
  margin-bottom: 15px;
}

.panel div {
  font-size: 1.1em;
}